<perfect-scrollbar [scrollIndicators]="false" style="height:275px">
    <div *ngIf="!upcomingEvents || upcomingEvents.length === 0; else events_list">
      No events found for {{country.title}}
    </div>
    <ng-template #events_list>
      <div *ngFor="let item of upcomingEvents">
        <div class="eventAllDay" (click)="onItemClicked(item)">
          <div>
            <div><strong>{{item.friendlyDate}}</strong>&nbsp;{{item.Title}}</div>
            <div class="card-text">{{item.EventCategory}}<span *ngIf="item.EventCategory && item.Location"> | </span>{{item.Location}}</div>
          </div>
        </div>
      </div>
    </ng-template>
</perfect-scrollbar>