<div class="bg-dark fg-white tile-large">
    <div class="tile-content">
        <div class="padding10 no-padding-top">
            <h5 style="margin-bottom:20px">
                <a *ngIf="settings.infoUrl" href="{{settings.infoUrl}}"><strong class="uppercase">{{settings.widgetTitle}}</strong></a>
            </h5>
            <perfect-scrollbar style="height:200px">
              <table>
                  <tr class='table-headings'>
                    <th>{{settings.source.titleField.displayName}}</th>
                    <th>{{settings.source.statusField.displayName}}</th>
                    <th>{{settings.source.timeField.displayName}}</th>
                  </tr>
                  <ng-container *ngFor="let listItem of listItems" style="width: 90%">
                    <tr class="list-item">
                      <td class="rowTitle">{{listItem.title}}</td>
                      <td class="status">{{listItem.status}}</td>
                      <td class="rowTime">{{listItem.time.fromNow()}}</td>
                      </tr>
                  </ng-container>
              </table>
            </perfect-scrollbar>
        </div>
    </div>
  </div>