.sp-modal iframe {
    padding-left: 20px;
}

.spinner-border {
    position: absolute;
    top: 45%;
    left: 45%;
}

.cannot-preview {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
}