<div class="main-container">
  <div class="chart-col num-card">
    <div *ngIf="cardResults" style="position: absolute; top: 50px; left: 50px; right: 50px; bottom: 50px;" #cardContainer>

      <ngx-charts-number-card
        class="chart-container"
        [view]="view"
        [animations]="true"
        [scheme]="colorScheme"
        [customColors]="settings.colorFunc ? customColor : undefined"
        [results]="cardResults"
        [valueFormatting]="statusValueFormat"
        [labelFormatting]="statusLabelFormat">
      </ngx-charts-number-card>
    </div>
  </div>
</div>
