
.news-source {
    color: #60a917;
    margin-right: 10px;
}

.news-meta {
    font-size: .9em;
}

.news-time {
    color: #777;
}

.news-title {
    line-height: 1.6em;
}

.news-item {
    padding: 5px 0;
}

.news-body {
    font-size: .95em;
    word-wrap: break-word;
}

.news-title i {
    color: #aaa;
    margin-right: 5px;
}

.recent-indicator {
    font-size: .9em;
    color: #aaa;
    font-style: italic;
}

mat-card {
    height: calc(100% - 40px);
    margin-top: 5px;
}