<perfect-scrollbar style="height:250px">
  <div *ngIf="!newsItems || newsItems.length === 0; else news_list">
    No news items found for {{country.title}}
  </div>
  <ng-template #news_list>
    <div *ngFor="let newsItem of newsItems" style="width: 90%">
      <div class="news-item">

        <!-- Orig
        <a href="#" (click)="!!openNewsItem(newsItem)" class="fg-white news-title"><i *ngIf="newsItem.source.type === docLibraryType" class="fa fa-file-o"></i><span>{{newsItem.title}}</span></a>
        -->
        <a href="#" (click)="!!openNewsItem(newsItem)" class="fg-white news-title"><i *ngIf="newsItem.source.type === docLibraryType" class="fa fa-file-o"></i>
          <span>{{newsItem.title}}</span></a>

          
             <mdb-badge default="true" *ngIf="newsItem.badgeType">{{newsItem.badgeType}}</mdb-badge>
            
        


        <div *ngIf="newsItem.body" class="news-body">{{ (newsItem.body.length>110) ? (newsItem.body | slice:0:110)+'...':(newsItem.body) }}</div>
        <div class="news-meta"><a href="{{newsItem.source.url}}" target="_blank" class='news-source'>{{newsItem.source.displayName}}</a><span class='news-time'>{{newsItem.date.fromNow()}}</span></div>
      </div>
      <hr class="m-1">
    </div>
  </ng-template>
</perfect-scrollbar>
