<mat-card-content>

    <perfect-scrollbar style="height:230px">
        
          
        
        
       <ng-container *ngFor="let link of listItems"> 
            
           
                <div class="linksBox">
            
                  <div class="icon" 
                       
                        [ngStyle]="{'background-image': 'url(' + link.iconUrl + ')','background-color': link.backgroundColor  }">
                     </div>
                
                  <div class="linksEntry"> 
                     
                       <a href="{{link.Url}}" (click)="openInTab($event)">{{link.Description}}</a><br>
                       <div class="linksEntryComment"> {{link.Comments}} </div>
                     
                    </div>
                
            
            
            </div>
            </ng-container> 
        
        
         
 
      
    </perfect-scrollbar>
      
</mat-card-content>