 
  .icon {
        
     background-repeat: no-repeat;
     background-position: center;
     border-radius: 4px;

     height:50px; 
     width:50px; 
     display:inline-block; 
     margin-right: 10px;
        
 }

 .linksBox {

     display:flex;
     padding-top: 3px;
     margin-bottom: 7px;
     
 }

.linksEntry {
    display:inline-block; 
    height:50px; 
    width:calc(100% - 20px);
}

.linksEntryComment {

    font-size:11px;
    display:inline-block;
    line-height: 80%;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}
 