.container {
    display:grid;
    grid-template-columns: 75px auto;
    grid-template-rows: 25px 25px;
}

.link {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end:2;
    justify-items: start;
    
}

.description {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-end: 3;
    

}

.icon {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:3;
}