<mat-card-content>

    <perfect-scrollbar style="height:230px">
        
      <div *ngIf="!listItems || listItems.length === 0">
         No links found for {{country.value.title}}
      </div>
        
       <ng-container *ngFor="let link of listItems"> 
            
           
                <div class="linksBox">
            
                  <div class="icon" 
                       
                        [ngStyle]="{'background-image': 'url(' + link.iconUrl + ')','background-color': link.backgroundColor  }">
                     </div>
                
                  <div class="linksEntry"> 
                     
                       <a href="{{link.Url}}" target="_blank">{{link.Description}}</a><br>
                       <span class="linksEntryComment"> {{link.Comments}} </span>
                     
                    </div>
                
            
            
            </div>
            </ng-container> 
        
        
         
 
      
    </perfect-scrollbar>
      
</mat-card-content>