/* Side nav */

.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.mat-sidenav {
    background-color: #404145;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.mat-drawer-side {
    border-right: none;
}

.mat-toolbar {
    background-color: transparent;
}

.mat-toolbar img {
    height: 40px;
    margin-right: 10px;
}

.toolbar-title {
    color: #fff;
}

.mat-list-item {
    color: #c3c3c3;
}

/*
.mat-sidenav-container {
  height: 100%;
}

.mat-sidenav {
  background-color: #404145;
  box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.mat-sidenav-content {
    padding: 0 10px;
    background-color: #eee;
}

.mat-sidenav img {
    height: 40px;
}

.toolbar-title {
  margin: 0 16px 0 16px;
  color: #fff;
}

.mat-subheader {
  font-size: 18px;
  font-weight: 900;
}

.app-nav-list-icon {
  margin: 0 12px 0 12px;
}
*/