<!-- <mat-card class="mat-elevation-z3"> -->
 <!-- <mat-card-header>
    
      <mat-card-title>{{settings.title}}</mat-card-title>
  </mat-card-header> -->
  
  <mat-card-content>
 
 <div> 

  <div  id="flexIt">
    <mat-form-field  style="display: inline-block">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <mat-paginator [pageSizeOptions]="[5,10]"></mat-paginator>

  </div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>


 <!--  <ng-container *ngFor="let tblCol of matTableCols" > -->

  <ng-container *ngFor="let tblCol of settings.columns; let z = index" matColumnDef="{{tblCol.columnName}}">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{tblCol.displayName}}</th>
    <ng-container *ngIf="tblCol.type === 'url'">
        <td mat-cell *matCellDef="let tableItem">
          <ng-container *ngIf="tableItem[tblCol.columnName]">
            <a [href]="tableItem[tblCol.columnName].Url">{{tableItem[tblCol.columnName].Description}}</a>
          </ng-container>
        </td>
    </ng-container>
    <ng-container *ngIf="tblCol.type === 'docTypeIcon'">
        <td mat-cell *matCellDef="let tableItem">
          <ng-container *ngIf="(tableItem[tblCol.columnName]) | async as docIconPath">
            <img [src]="docIconPath"/>
          </ng-container>
        </td>
    </ng-container>
    <ng-container *ngIf="tblCol.type !== 'url' && tblCol.type !== 'docTypeIcon'">
      <td mat-cell *matCellDef="let tableItem;">{{ tableItem[tblCol.columnName] }} {{z}}</td>
    </ng-container>

    
  </ng-container>
  <!-- </ng-container> -->

  <!--
    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Title</th>
      <td mat-cell *matCellDef="let tableItem">{{tableItem.Title}}</td>
    </ng-container>
  

    <ng-container matColumnDef="Created">
        <th mat-header-cell *matHeaderCellDef>Time Created</th>
        <td mat-cell *matCellDef="let tableItem">{{tableItem.Created}}</td>
      </ng-container>

    -->
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay; let i = index;"
      (click)="onRowClicked($event, i)">
    </tr>
    
  </table>

   

  </div> 
  </mat-card-content>
 <!--  </mat-card> -->