table {
    width:100%
} 

mat-card-actions {
    padding: 0;
    text-align: center;
}

mat-card {
    height: calc(100% - 40px);
    margin-top: 5px;
}

tr:hover {
    background-color: rgb(198, 214, 223);
   
}

tr {
    height: 25px !important;
}

td {
    padding:0px;
    margin: 0px;

}

#flexIt {
    display: flex;
  flex-direction: row;
  justify-content:space-between;
}