<!--<div class="splash flex-container" [ngStyle]="{'background':splashImage, 'background-size':'cover'}" [ngClass]="env === 'low' ? 'low' : ''">-->
<div class="splash" [ngClass]="env === 'low' ? 'low' : ''">
    <ul class="splash-images">
        <ng-container *ngFor="let img of splashImages, let i = index">
            <li [hidden]="i != splashIndex"><span [ngStyle]="{'background-image': 'url(' + img.url + ')'}"></span></li>
        </ng-container>
    </ul>
    <div class="flex-container">
        <div class="left-col">
                <ng-container *ngIf="displaySearch"><app-search></app-search></ng-container>
                <div *ngIf="splashDescription" class="desc">
                <div class="splash-description">{{splashDescription}}</div>
                <a class="full-image-link" href="{{splashUrl}}" target="_blank">Full Image <i class="fa fa-external-link"></i></a>
                </div>
        </div>
        <div class="right-col widget-container">
            <div *ngIf="showEventsWidgets" class="tile-group">
                <app-today-events></app-today-events>
                <app-upcoming-events></app-upcoming-events>
            </div>
            <div *ngIf="showPaoWidget" class="tile-group">
                    <app-news [settings]="paoSettings" class="paoWidget"></app-news>
            </div>
            <div class="tile-group no-margin-left">
                <app-news [settings]="newsSettings"></app-news>
            </div>
        </div>
    </div>
</div>