.card {
    height: 100%;
}

.card-body {
    padding-top: .5rem;
}

.nav-link {
    padding: 0;
}


.dropdown .dropdown-menu {
    -webkit-transform: translate3d(-175px, 25px, 0px);
    transform: translate3d(-170px, 25px, 0px);
    width: 200px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    font-size: .8em;
    padding: 1rem;
}

.dropdown-menu ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

.dropdown-menu a {
    padding: 0;
    font-size: 1em;
    color: #007bff;
}

.dropdown .dropdown-item {
    white-space: normal;
}

:host ::ng-deep nav .container {
    padding: 0;
}

:host ::ng-deep .navbar {
    box-shadow: none;
}

:host ::ng-deep .mat-tab-label {
    height: 30px;
}

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, :host ::ng-deep .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: #4abde8;
}

:host ::ng-deep .mat-tab-label-active {
    background-color: #4abde8;
    color: #000;
}

:host ::ng-deep .mat-tab-group.mat-primary :not(.mat-tab-disabled).mat-tab-label.cdk-keyboard-focused,
:host ::ng-deep .mat-tab-group.mat-primary :not(.mat-tab-disabled).mat-tab-label.cdk-program-focused,
:host ::ng-deep .mat-tab-group.mat-primary :not(.mat-tab-disabled).mat-tab-link.cdk-keyboard-focused,
:host ::ng-deep .mat-tab-group.mat-primary :not(.mat-tab-disabled).mat-tab-link.cdk-program-focused,
:host ::ng-deep .mat-tab-nav-bar.mat-primary :not(.mat-tab-disabled).mat-tab-label.cdk-keyboard-focused,
:host ::ng-deep .mat-tab-nav-bar.mat-primary :not(.mat-tab-disabled).mat-tab-label.cdk-program-focused,
:host ::ng-deep .mat-tab-nav-bar.mat-primary :not(.mat-tab-disabled).mat-tab-link.cdk-keyboard-focused,
:host ::ng-deep .mat-tab-nav-bar.mat-primary :not(.mat-tab-disabled).mat-tab-link.cdk-program-focused {
    background-color: #4abde8;
    opacity: 0.6;
    color: #000;
}

:host ::ng-deep .mat-tab-header {
    background-color: rgb(209,234,241);
}