<mat-toolbar><h3>Welcome to the SOCAFRICA Country Pages</h3></mat-toolbar>
<div class="card">
  <div class="row">
    <div class="col">
      <div id="map" style="width: 475px; height: 550px"></div>
    </div>
    <div class="col">
        <div class="container-fluid">
          <ng-container *ngFor='let region of regions | keyvalue'>
              <div class="row mb-2">
                <div class="col">
                  <h6 class="sub-title">
                      <ng-container *ngIf="regionColorMapping[region.key]">
                          <span [ngStyle]="{'background-color': regionColorMapping[region.key]}" class="region-legend-box"></span>
                      </ng-container>
                      {{region.key}}
                  </h6>
                  <ng-container *ngFor="let country of region.value">
                      <a class="dropdown-item" [routerLink]="['/country', country.countryCode3]" queryParamsHandling='preserve' 
                      (mouseenter)="highlightFeature(country.countryCode3)" (mouseleave)="resetHighlight(country.countryCode3)">{{country.title}}</a>
                  </ng-container>
                </div>
              </div>
          </ng-container>
        </div>
    </div>
  </div>
</div>