table {
    width:100%
} 

mat-card-actions {
    padding: 0;
    text-align: center;
}

mat-card {
    height: calc(100% - 40px);
    margin-top: 5px;
}

tr:hover {
    background-color: rgb(198, 214, 223);
}

tr {
    height: 25px !important;
    cursor: pointer;
}

td {
    padding:0px;
    margin: 0px;

}

#flexIt {
    display: flex;
  flex-direction: row;
  justify-content:space-between;
}

:host ::ng-deep .mat-paginator-container {
    padding: 0;
    justify-content: flex-start;
    min-height: 0;
}

:host ::ng-deep .mat-paginator-page-size-select {
    margin-top: 0;
}

:host ::ng-deep .mat-paginator-range-label {
    margin: 0 20px 0 0px;
}

.mat-paginator {
    display: inline;
}

.mat-table .mat-header-row,
.mat-table .mat-row {
  padding: 0 10px 0 0;
}

.mat-table .mat-header-cell,
.mat-table .mat-cell {
  padding: 0 0 0 10px;
}

.unselectable {
    cursor: default;
}

/* Set width of first table column to fit mdb badge size */
.cdk-column-isNew {
    width:26px;
    
}

.action-icon {
    height: 18px;
    vertical-align: top;
    margin-top: 1px;
}

.highlight {
    background-color: #bbb;
}


