<perfect-scrollbar style="height:230px">
        <table>
            <tr class='table-headings'>
            <th *ngFor="let column of settings.columns">{{column.displayName}}</th>
            </tr>
            <ng-container *ngFor="let listItem of listItems">
            <tr class="list-item">
                <td *ngFor="let column of listItem.columns">{{column}}</td>
            </tr>
            </ng-container>
        </table>
</perfect-scrollbar>

<button type="button" color="light" mdbBtn>Show More</button>

    
    