h5 a {
    color: #fff;
    text-decoration: none;
}

table {
    width: 90%;
}

.rowTitle {
    width: 40%;
}

th {
    padding-bottom: 5px;
    padding-right: 5px;
    font-size: 12px;
    font-weight: normal;
}

.list-item td {
    padding: 5px 5px 5px 0;;
}

.table-headings {
    border-bottom: 1px solid #555;
}

mat-card {
    height: 300px;
}

mat-card-actions {
    padding: 0;
    text-align: center;
}