.dashboard-container {
    padding: 0 20px;
    margin-bottom: 20px;
}

.dashboard-container h3 {
    margin-top: 0;
}

.mat-toolbar {
    background: transparent;
    padding: 20px;
}

app-tile {
    height: 100%;
    width: calc(100% - 10px);
}