.dashboard-container {
    padding: 0 20px;
    margin-bottom: 20px;
}

.dashboard-container h3 {
    margin-top: 0;
}

.fill-space {
    flex: 1 1 auto;
}

.mat-toolbar {
    background: transparent;
    padding: 20px;
}

app-table, app-news, app-map {
    height: 100%;
    width: calc(100% - 10px);
}