.example-card {
    max-width: 400px;
}

.dashboard-container {
    padding: 0 20px;
}

.dashboard-container h3 {
    margin-top: 0;
}

.fill-space {
    flex: 1 1 auto;
}

.mat-toolbar {
    background: transparent;
    padding: 20px;
}