.dashboard-container {
    padding: 0 10px;
    margin-bottom: 20px;
    margin-top: .25rem;
}

.dashboard-container h3 {
    margin-top: 0;
}

.mat-toolbar {
    background: transparent;
    padding: 20px;
}

app-tile {
    height: 100%;
    width: calc(100% - 10px);
}

:host ::ng-deep .grid-stack-item-content {
    overflow: visible !important;
}

:host ::ng-deep .grid-stack-item[data-gs-width="3"]  { width: 100% }
:host ::ng-deep .grid-stack-item[data-gs-width="2"]  { width: 66.66666667% }
:host ::ng-deep .grid-stack-item[data-gs-width="1"]  { width: 33.33333333% }

:host ::ng-deep .grid-stack-item[data-gs-x="2"]  { left: 66.66666667% }
:host ::ng-deep .grid-stack-item[data-gs-x="1"]  { left: 33.33333333% }