<div class="select-container">

  <button mat-button [matMenuTriggerFor]="menu" mat-buton-raised>Select a Country</button>
  <mat-menu #menu="matMenu">
    <div matSubheader>East Africa</div>
    <div *ngFor="let country of countriesEA">
          <a mat-menu-item [routerLink]="['/country', country.countryCode3]">{{country.title}}</a>
    </div>
    <mat-divider></mat-divider>
    <div matSubheader>North &amp; West Africa</div>
    <div *ngFor="let country of countriesNWA">
      <a mat-menu-item [routerLink]="['/country', country.countryCode3]">{{country.title}}</a>
    </div>
  </mat-menu>
</div>