<div (click)="handleClick($event)" *ngIf="regions && campaigns && countries">
    <div class="container-fluid">
        <mat-tab-group selectedIndex=2 (selectedTabChange)="onTabChanged($event)" [ngClass]="{'initial-tabs': !tabChanged}">
            <mat-tab label="Regions">
                <mat-expansion-panel *ngFor='let region of regions | keyvalue'>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{region.key}}
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-container *ngFor="let country of region.value">
                        <a class="dropdown-item" [routerLink]="['/country', country.countryCode3]" queryParamsHandling='preserve'>
                            <img class="flag-icon" [src]="'./assets/flags/' + country.countryCode3 + '-flag-icon-64.png'"/> 
                            {{country.title}}
                        </a>
                    </ng-container>
                </mat-expansion-panel>
            </mat-tab>
            <mat-tab label="Campaigns">
            <ng-template matTabContent>
                <mat-expansion-panel *ngFor='let campaign of campaigns | keyvalue'>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{campaign.key}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-container *ngFor="let country of campaign.value">
                    <a class="dropdown-item" [routerLink]="['/country', country.countryCode3]" queryParamsHandling='preserve'>
                        <img class="flag-icon" [src]="'./assets/flags/' + country.countryCode3 + '-flag-icon-64.png'"/> 
                        {{country.title}}
                    </a>
                </ng-container>
                </mat-expansion-panel>
            </ng-template>
            </mat-tab>
            <mat-tab label="Countries">
            <ng-template matTabContent>
            <div class="container-fluid mt-3 flat-countries">
                <div class="row">
                    <div class="col-md">
                    <ng-container *ngFor='let country of countries.slice(0,16)'>
                        <a class="dropdown-item" [routerLink]="['/country', country.countryCode3]" queryParamsHandling='preserve'>
                            <img class="flag-icon" [src]="'./assets/flags/' + country.countryCode3 + '-flag-icon-64.png'"/> 
                            {{country.title}}
                        </a>
                    </ng-container>
                    </div>
                    <div class="col-md" *ngIf="countries.length > 16">
                        <ng-container *ngFor='let country of countries.slice(16)'>
                            <a class="dropdown-item" [routerLink]="['/country', country.countryCode3]" queryParamsHandling='preserve'>
                                <img class="flag-icon" [src]="'./assets/flags/' + country.countryCode3 + '-flag-icon-64.png'"/> 
                                {{country.title}}
                            </a>
                        </ng-container>
                    </div>
                </div>
            </div>
            </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
