.dropdown-item:hover, .dropdown-item:focus {
    background-color: #d1ecf1;
}

h6.sub-title {
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 700;
    color: #555;
    border-bottom: 1px solid #e0e0e0;
}