.dropdown-item:hover, .dropdown-item:focus {
    background-color: #d1ecf1;
}

h6.sub-title {
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 700;
    color: #555;
    border-bottom: 1px solid #e0e0e0;
}

mat-expansion-panel {
    border-radius: 0;
}

.flat-countries {
    font-size: 14px;
}

.flat-countries .row {
    justify-content: center;
}

.flat-countries .dropdown-item {
    padding: 0 1.5rem;
}

.flag-icon {
    width: 20px;
    margin-top: -2px;
    height: auto;
}

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, :host ::ng-deep .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: #4abde8;
}

:host ::ng-deep .initial-tabs .mat-ink-bar {
    visibility: visible !important;
    left: 320px !important;
    width: 160px !important;
}
